body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: sans-serif;
}

#form{
    width: 1000px;
    height: 700px;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    border-collapse: collapse;
    padding: 0 50px;
}

th {
    background-color: #E04653;
    color: #fff;
    border: 1px solid #ccc;
}

#fim {
    border: none;
    background-color: #DDDDDD;
    font-weight: 600;
    color: #000;
}

#btn {
    background-color: #E04653;
    border: none;
    color: #fff;
    padding: 20px 50px;
    border-radius: 10px;
    margin-top: 50px;
    font-weight: 600;
    font-size: 15px;
}

tr:hover {
    background-color: #ddd;
}